<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>AllowedTypes</key>
	<array>
		<string>public.objective-c-source</string>
    </array>
    <key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
    <key>DefaultCompletionName</key>
	<string>NewMineShaftObject</string>
	<key>Description</key>
	<string>MineShaft Object files</string>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>MainTemplateFile</key>
    <string>___FILEBASENAME___.m</string>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>Options</key>
	<array>
        <dict>
            <key>Description</key>
            <string>The name of the model object class to create</string>
            <key>Identifier</key>
            <string>productName</string>
            <key>Name</key>
            <string>Class:</string>
            <key>NotPersisted</key>
            <true/>
            <key>Required</key>
            <true/>
            <key>Type</key>
            <string>text</string>
        </dict>
	</array>
	<key>Summary</key>
	<string>Classes to implement a MineShaft model object and (optionally) an InDatabase counterpart</string>
</dict>
</plist>
